  @import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  font-size: 62.5%;
}

body{

  font-size: 1.6rem;
}

header{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background: url(images/IndexIMG.png);
  height: 100vh;
}

h1{
  font-size: 9.6rem;
  font-weight: 400;
  font-family: 'Righteous', cursive;
  color: #163A38;
}
.btn_iniciar {
  width: 15rem;
  height: 5rem;
  background: #163A38;
  border-radius: 1rem;
  color: white;
  font-weight: 500;
  font-size: 2rem;
  border: none;
  cursor: pointer;
  font-family: 'Inter', sans-serif;
}
.seta_iniciar{
  display: block;
  
}

.cards {
  display: flex;
  justify-content: center;
  gap: 11.6rem;
  
}

main {
  background: #18422D;
  padding-top: 20rem;
}



section .icon {
  box-shadow: 8px 4px 4px 0px rgba(0, 0, 0, 0.40);
  background: #E8DFC2;
  border-radius: 50%;
  width: fit-content;
  padding: 2rem;
  margin-top: -8rem;
}
.primeira_section{
  font-family: 'Comfortaa', cursive;
  color: #55AF4D;
  background: #E8DFC2;
  font-size: 5rem;
  padding: 0 9.5rem 9.5rem 9.5rem;
  max-width: 51.7rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
}
.segunda_section{
  font-family: 'Comfortaa', cursive;
  color: #55AF4D;
  background: #E8DFC2;
  font-size: 5rem;
  padding: 0 9.5rem 9.5rem 9.5rem;
  max-width: 51.7rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
}

.segunda_cards{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.terceira_section {
  font-family: 'Comfortaa', cursive;
  color: #55AF4D;
  background: #E8DFC2;
  font-size: 5rem;
  padding-left: 2rem;
  width: 115rem;
  height: 23.061rem;
  text-align: center;
  margin-top: 10rem;
  text-align: left;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: right;
}
.quatro_cards{
  font-family: 'Comfortaa', cursive;
  color: #55AF4D;
  background: #E8DFC2;
  font-size: 5rem;
  width: 145rem;
  height: 15.188rem;
  margin-top: 10rem;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: left;
  padding-inline: 8rem;
  margin-bottom: 8rem;
}
.quatro_cards img{
  width: 10rem;
  height: 10rem;
  margin-right: 6rem;
}
footer{
  font-family: 'Comfortaa', cursive;
  background: #E8DFC2;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 30rem;
  color: #55AF4D;
  font-size: 5rem;
}
button{
  font-family: 'Comfortaa', cursive;
  width: 15rem;
  height: 5rem;
  background: #55AF4D;
  border-radius: 1rem;
  color: white;
  border: none;
  cursor: pointer;
  margin-block: 4rem;
}