* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2{
  width: 1358px;
  height: 373px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #000;
  text-align: center;
  font-family: Comfortaa;
  font-size: 80px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

main{
  width: 96%;
  
  background: #E8DFC2;
  margin-inline:2rem;
  margin-block: 2rem;
  
  
}

body{
  background-color: #18422D;
  
  
 
}
img{
  display: flex;
  align-items: center;
  justify-content: center;
}

h2, p{
  text-align: center;
}

button{
  
  color: white;
  background-color: #18422D;
  width: 370px;
  height: 121px;
  flex-shrink: 0;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.40);
  color: #F5F5F5;
  text-align: center;
  font-family: Inter;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  
  
}

.button{
  text-align: center;
}
.logo{
  margin-inline: .5rem;
  padding-block: .5rem;
  width: 5rem;
  height: 6rem;
}
