
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:Helvetica;
}

body{
  background-color:#18422D;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
main{
  background-color: #E8DFC2;
  height: 90vh;
  width: 190vh;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logo img{
  width: 5rem;
  height: 5rem;
  
  
}

.esconder{
  display: none !important;
}

#main-title{
  
  text-align: center;
  background-color: #7400B8;

  border-radius: 50px;

}



#caixa-pontua{
  background-color: #cddde8;
  color: #000;
  text-align: center;
  width: 300px;
  margin: 50px auto;
  padding: 25px;
  border-radius: 20px;
}

#caixa-pontua p{
  font-size: 14px;
  margin: 20px 0;
}

#caixa-pontua #display-score{
  font-size: 32px;
  font-weight: bold;
}

#questao-resposta{
  font-weight: bold;
  color: #408576;
}

#quantidade-de-perguntas {
  font-weight: bold;
  color: #075EA4;
  
}

#resetar {
  background-color: #E1A044;
  color: #fff;
  font-weight: bold;
  height: 50px;
  border-radius: 25px;
  border: 2px solid transparent;
  width: 180px;
  text-transform: uppercase;
  margin-top: 20px;
  cursor: pointer;
  transition: .5s;
}

#resetar:houver{
  background-color: transparent;
  border-color: #E1A044;
  color: #E1A044;
 
 
}





#questao {
  text-align: center;
  margin-block:1rem ;
  font-size: 2rem;
}

#numero-questao{
  font-weight: bold;
}

#caixa-de-resposta button{
  display: flex;
  font-size: 1.3rem;
  width: 70rem;
  height: 5rem;
  border: none;
  background-color: #8C928C;
  text-align: left;
  color: #000;
  cursor: pointer;
  transition: .5s;
  margin-bottom: 1rem;

}



#caixa-de-resposta button:hover{
  background-color: #4F534F;
  color: #Efff;
}

#caixa-de-resposta .letra-botao{
  background-color: #0E281B;
  color: #fff;
  width: 5rem;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  text-transform: uppercase;
  margin-right: 1rem;
}
#caixa-de-resposta .questao-resposta{
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.template-resposta{
  background: #18422D;
  width: 12rem;
  height: 3.5rem;
  border-radius: .7rem;
  color: white;
  font-weight: 500;
  border: none;
  margin-block: 2rem;
  cursor: pointer;
}

.respostas-questao{
  flex: 1 1 0;
  margin-left: 10px;
  font-size: 16px;
}

#quizz-container .wrong-answer,
#quizz-container .wrong-answer.letra-botao{
  background-color: #E62210;
  color: #fff;
}
#quizz-container .resposta-correta,
#quizz-container .resposta-correta.letra-botao{
  background-color: #408576;
  color: #fff;
}

