/*GERAL*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:Helvetica;
}

body{
  background-color:#18422D;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
main{
  background-color: #E8DFC2;
  height: 90vh;
  width: 190vh;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hide{
  display: none !important;
}



/*Score Container*/

#score-container{
  color: #000;
  text-align: center;
  width: 300px;
  margin: 50px auto;
  padding: 25px;
  border-radius: 20px;
}

#score-container p{
  font-size: 14px;
  margin: 20px 0;
}

#score-container #display-score{
  font-size: 32px;
  font-weight: bold;
}

#correct-answer{
  font-weight: bold;
  color: #408576;
}

#questions-qtd {
  font-weight: bold;
  color: #075EA4;
}

#restart {
  background-color: #E1A044;
  color: #fff;
  font-weight: bold;
  height: 50px;
  border-radius: 25px;
  border: 2px solid transparent;
  width: 180px;
  text-transform: uppercase;
  margin-top: 20px;
  cursor: pointer;
  transition: .5s;
}

#restart:houver{
  background-color: transparent;
  border-color: #E1A044;
  color: #E1A044;
}


/*quiz container*/

#quizz-container{
  width: 500px;
  margin: 50px auto;
  border: 1px solid #cddde8;
  padding: 25px;
  border-radius: 25px;
}

#question {
  text-align: center;
  margin-block:1rem ;
  font-size: 2rem;
}

#question-number{
  font-weight: bold;
}

#answers-box button{
  display: flex;
  font-size: 1.3rem;
  width: 70rem;
  height: 5rem;
  border: none;
  background-color: #8C928C;
  text-align: left;
  color: #000;
  cursor: pointer;
  transition: .5s;
  margin-bottom: 1rem;

}

#answers-box button:hover{
  background-color: #4F534F;
  color: #Efff;
}

#answers-box .btn-letter{
  font-size: 30px;
  font-weight: bold;
  background-color: #0E281B;
  width: 5rem;
  height:5rem ;
  color: #fff;
  
  text-align: center;
  text-transform: uppercase;


}

.question-answer{
  flex: 1 1 0;
  margin-left: 10px;
  font-size: 16px;
}


#quiz-container .wrong-answer,
#quizz-container .wrong-answer.btn-letter{
  background-color: #E62210;
  color: #fff;
}
#quiz-container .correct-answer,
#quiz-container .correct-answer.btn-letter{
  background-color: #408576;
  color: #fff;
}



