@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
*{
  margin: 0;
  padding: 0;
}
body{
  background: #18422D;
}
main{
  background: #E8DFC2;
  width: 96%;
  height: 96%;
  border-radius: .3rem;
  margin: 2rem;
}
h1{
  font-family: 'Comfortaa', cursive;
  font-size: 5rem;
  margin-bottom: 3rem;
}
h2{
  font-family: 'Comfortaa', cursive;
  font-size: 2.5rem;
  margin-block: 3rem;
}
p{
  font-family: 'Comfortaa', cursive;
  text-align: justify;
  text-indent: 2rem;
  margin-inline: 8rem;
  margin-block: 1rem;

}
button{
  background: #18422D;
  width: 12rem;
  height: 3.5rem;
  border-radius: .7rem;
  color: white;
  font-weight: 500;
  border: none;
  margin-block: 2rem;
  cursor: pointer;
}
.logo{
  width: 5rem;
  height: 5rem;
  margin: .5rem;
}
.firstDiv{
  text-align: center;
}
.imagens{
  width: 45rem;
  height: 40rem;
  margin-block: 2rem;
}
