@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color:rgba(85, 175, 77, 1);
  height: 100vh;
}

.primeira_sec{
  background-color: #163A38;
  height:100vh;
  width:49.9%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  float: left;
  
}
.suporte1{
  background-color: rgba(85, 175, 77, 1);
  height:22rem;
  width: 30rem;
  border-radius: 1rem;
  text-align: center;
  margin-top:3rem;
}
h2{
  font-weight: 700;
  color: #FFFFFF;
  font-size: 3.5rem;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  margin-top: 3rem;
  margin-bottom:3rem;
}
p{
  color:white;
  margin-inline: 4rem;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  font-style: normal;
  margin-bottom: 2rem;
}

.segunda_sec{
  background-color: #163A38;
  height:100vh;
  width:49.9%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  float:right;
}
.suporte2{
  text-align: center;
}
form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}

input{
  background-color: rgba(187, 195, 187, 1);
  width:25rem;
  height: 3rem;
  border-radius: .5rem;
  outline: 0;
  padding:.5rem;
  border: none;
  margin-bottom: 3rem;
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
}
textarea{
  background-color: rgba(187, 195, 187, 1);
  width: 25rem;
  height: 7rem;
  border-radius: .5rem;
  outline: 0;
  padding:.5rem;
  border: none;
  margin-bottom:3rem;
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
}
.botao button{
  width: 10rem;
  height: 3rem;
  background: #55AF4D;
  border-radius: .7rem;
  color: white;
  font-weight: 500;
  border: none;
  
  
}
a{
  
}


